@charset "UTF-8";

body {
    font: 1em Arial, Helvetica, sans-serif;
    background-color: #B4BEC9;
    margin: 0px;
}

header {
    background-color: #002333;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.188);
}

footer {
    background-color: #002333;
    color: white;
    padding: 5px;
    text-align: center;
}

footer > p {
    margin: 0px;
}

nav {
    padding: 6px;
    background-color: #B4BEC9;
    border-radius: 5px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.416);
}

nav > a {
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a:active {
    color: #159A9C;
}

article {
    display: inline-table;
    background-color: #159A9C;
    color: white;
    width: 400px;
    height: 217px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

article > aside {
    background-color: #0f6d6e;
    width: 210px;
    padding: 10px;
    border-radius: 20px;
}

article > aside > p {
    margin: 0px;
}